html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  background-color: #050101;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 1rem;
}


a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

li{
  color: rgba(0, 124, 237, 1);
}